{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-underscore-dangle": [1, { "allow": ["_id"] }],
    "consistent-return": "off",
    "comma-dangle": "off",
    "no-console": "off",
    "spaced-comment": "off"
  }
}